@page
@model LeDucNamFall2024RazorPages.Pages.NewsArticlePage.UpdateModel
@{
    Layout = "_StaffLayout";
}
@if (TempData["Message"] != null)
{
    <h2>@TempData["Message"]</h2>
}
<form method="post">
    <div>
        <label asp-for="newsArticle.NewsArticleId"></label>
        <input asp-for="newsArticle.NewsArticleId" value="@Model.newsArticle.NewsArticleId" type="text" readonly />
    </div>
    <div>
        <label asp-for="newsArticle.CreatedDate"></label>
        <input asp-for="newsArticle.CreatedDate" value="@Model.newsArticle.CreatedDate" type="text" readonly />
    </div>
    <div>
        <label asp-for="newsArticle.CreatedById"></label>
        <input asp-for="newsArticle.CreatedById" value="@Model.newsArticle.CreatedById" type="text" readonly />
    </div>
    <div>
        <label asp-for="newsArticle.NewsTitle"></label>
        <input asp-for="newsArticle.NewsTitle" value="@Model.newsArticle.NewsTitle" type="text" required />
    </div>
    <div>
        <label asp-for="newsArticle.Headline"></label>
        <input asp-for="newsArticle.Headline" value="@Model.newsArticle.Headline" type="text" required />
    </div>
    <div>
        <label asp-for="newsArticle.NewsContent"></label>
        <input asp-for="newsArticle.NewsContent" value="@Model.newsArticle.NewsContent" type="text" required />
    </div>
    <div>
        <label asp-for="newsArticle.NewsSource"></label>
        <input asp-for="newsArticle.NewsSource" value="@Model.newsArticle.NewsSource" type="text" required/>
    </div>

    <div>
        <label asp-for="newsArticle.CategoryId"></label>
        <select asp-for="newsArticle.CategoryId"  asp-items="Model.categoryList" required></select>
    </div>
    <div>
        <label asp-for="newsArticle.NewsStatus"></label>
        <select asp-for="newsArticle.NewsStatus"  asp-items="Model.isActiveOptions"></select>
    </div>

    <div>
        <button type="submit">Update</button>
    </div>
</form>
<form asp-page="/NewsArticlePage/ViewByStaff" method="get">
    <div>
        <button type="submit">Back to news</button>
    </div>
</form>
